.company_edit_content-name {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--content {
    font-size: $font_size1;
  }
}
.company_edit_content {
  padding-bottom: $padding_bottom;
  &__company {
    display: flex;
    justify-content: center;
    &--wrapper {
      width: 300px;
    }
  }
  &__element {
    margin: 30px 0;
  }
  &__input {
    text-align: center;
  }
  #company_name, #company_office {
    width: 100%;
  }
}
