.company-header {
  height: 80px;
  border-bottom: solid 1px $color_blue4;
  background-color: $color_blue5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-size: 18px;
}
.company-main {
  padding-bottom: $padding_bottom;
  &__name {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--wrapper {
      display: flex;
      width: 60vw;
      justify-content: center;
      position: relative;
    }
    &--content {
      font-size: $font_size1;
    }
    &--edit {
      position: absolute;
      right: 50px;
    }
  }
  &__index {
    display: flex;
    justify-content: center;
    .company-content {
      width: 60vw ;
      tr {
        border-bottom: 1px outset $color_blue2;
      }
      th {
        text-align: center;
        height: 20px;
        border-top: 2px outset $color_blue3;
        border-bottom: 2px outset $color_blue3;
        padding: 0 20px;
      }
      td {
        padding: 0 20px;
        text-align: center;
        height: 80px;
      }
    }
  }
}
.company-main__name--edit {
  color: #004E98;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
.company_edit_content-name {
  height: calc(100% - 15px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $color_blue5;
  padding: 0 30px;
  position: relative;
}
.company_edit_content {
  &__company {
    display: flex;
    justify-content: center;
    &--wrapper {
      width: 350px;
    }
  }
  &__element {
    margin: 11px 0;
  }
  &__input {
    width: 80px;
    display: flex;
    justify-content: flex-end;
    margin: 50px 0;
  }
}
input#company_edit__form {
  width: 100%;
}
input#company_edit__submit {
}
