header {
  height: 80px;
  border-bottom: solid 1px $color_blue4;
  background-color: $color_blue5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
}
// .header_icon__wrapper {
//   height: 60px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   text-align: end;
// }
.header__add_icon {
  margin: 3px 0;
  position: absolute;
  right: 80px;
}
.header__bars_icon {
  margin: 3px 0;
}
.individual_area {
  position: absolute;
  right: 160px;
  width: 150px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__element {
    text-align: center;
    margin: 3px 0;
    font-size: 14px;
  }
}
main {
  padding-bottom: $padding_bottom;
  .search-result-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 30px 0;
    position: relative;
    a {
      text-decoration: none;
      color: #004E98;
    }
    .create-content {
      background-color: $color_blue5;
      padding: 15px;
      width: 380px;
      height: 130px;
      border-radius: 7px;
      text-align: center;
    }
    .menue-content__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 10px;
    }
    .menue-content {
      height: 200px;
      width: 200px;
      position: absolute;
      right: 5px;
      &__element {
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        border-radius: 4px;
        background-color: rgb(255, 248, 172);
        color: rgb(255, 153, 0);
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
      #menue-content__element {
        color: rgb(255, 153, 0);
        display: block;
      }
    }
  }
  .search-form {
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    &__wrapper {
      position: relative;
    }
    #keyword {
      height: 50px;
      width: 400px;
      text-align: center;
      line-height: 100px;
    }
  }
  .individual_edit_form {
    position: absolute;
    right: 5px;
    top: 0;
    padding: 0 10px;
    .individual_edit_form__content {
      padding: 10px;
      height: 100%;
      background-color: $color_blue5;
      border-radius: 7px;
      .individual_edit {
        &__element {
          margin: 5px 0;
        }
        &__submit {
          text-align: center;
          margin: 5px 0;

        }
        &__form {
          width: 100%;
        }
      }

    }
  }

  .index {
    &__list {
      .list {
        display: flex;
        justify-content: center;
        &__company {
          width: 35vw ;
          margin: 0 40px;
        }
        &__item {
          width: 35vw ;
          margin: 0 40px;
        }
        tr {
          border-bottom: 1px outset $color_blue2;
        }
        th {
          text-align: center;
          height: 20px;
          border-top: 2px outset $color_blue3;
          border-bottom: 2px outset $color_blue3;
          padding: 0 20px;
        }
        td {
          padding: 0 20px;
          text-align: center;
          min-height: 80px;
        }
      }
    }
  }
}

