.wapper {
  header {
    height: 45px;
    border: solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
    .logout {
      font-size: 15px;
    }
    .add {}
  }
  main {
    margin-bottom: 100px;
    .search-result-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      margin: 30px 0;
      #search-result {        
        text-align: center;
        width: 350px;
      }
    }
    .search-form {
      margin-bottom: 130px;
      display: flex;
      justify-content: center;
      #keyword {
        height: 50px;
        width: 400px;
        text-align: center;
        line-height: 100px;
      }
    }
    .index {
      &__list {
        .list {
          display: flex;
          justify-content: center;
          &__company {
            width: 30vw ;
            margin: 0 60px;
          }
          &__item {
            width: 30vw ;
            margin: 0 60px;
          }
          tr {
            border-bottom: 1px outset #eee;
          }
          th {
            text-align: center;
            height: 20px;
            border-top: 2px outset #ccc;
            border-bottom: 2px outset #ccc;
            padding: 0 20px;
          }
          td {
            padding: 0 20px;
            text-align: center;
            height: 80px;
          }
          a.far.fa-check-square {
            font-size: 20px;
            line-height: 80px;
            width: 10px;
            color: gray;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
a {
  text-decoration: none;
  display: block;
}
