$font_size1: 17px;
$padding_bottom :150px;
$color_blue1: #004E98;
$color_blue2: rgba(92, 129, 163, 0.3);
$color_blue3: rgba(92, 129, 163, 0.5);
$color_blue4: rgba(92, 129, 163, 0.8);
$color_blue5: #ecf7fc;

@mixin icon($font-size) {
  color: #004E98;
  font-size: $font-size;
  &:hover {
    opacity: 0.7;
  }
}

a.fas.fa-plus {
  @include icon(14px)
}
a.fas.fa-sign-out-alt {
  color: #004E98;
  border-radius: 7px;
  padding: 5px 12px;
  font-size: 14px;
  &:hover {
    opacity: 0.7;
  }
}
a.fas.fa-home {
  @include icon(14px)
}
a.fas.fa-edit {
  @include icon(14px)
}
a.far.fa-trash-alt {
  @include icon(20px)

}
a.far.fa-file-alt{
  @include icon(20px)

}
a.fas.fa-angle-double-right {
  font-size: 25px;
  line-height: 80px;
  color: #004E98;
  border-radius: 7px;
  &:hover {
    opacity: 0.7;
  }
}
.fas.fa-bars {
  font-size: 20px;
  color: black;
  cursor: pointer;
  padding: 5px;
  &:hover {
    opacity: 0.5;
  }
}
a.fas.fa-user-plus {
  @include icon(14px)
}
a.fas.fa-users {
  @include icon(14px)
}
a {
  text-decoration: none;
}
td.detail_css {
  border-bottom: hidden !important;
}
i.fas.fa-bookmark {

  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}