.company-wapper {
  height: 100vh;
  position: relative;
  .company-header {
    height: 45px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__name {
      line-height: 45px;
      font-size: 30px;
    }
    .home {
      font-size: 25px;
      position: absolute;
      left: 40px;
    }
  }
  .company-main {
    height: calc(100vh - 90);
    padding: 15px 30px 15px 30px;
    &__index {
      .company-content {
        align-items: center;
        &--document {
          display: flex;
          &--date {
            margin: 0 15px;
          }
          &--author {
            margin: 0 15px;
          }
          &--image {
            margin: 0 15px;
          }
          &--item_id {

          }
        }
        &--item {
          width: 300px;
          display: flex;
          border-bottom: solid 1px;
         padding: 0 15px;
          &--name {
            margin: 0 15px;
          }
          &--code {
            margin: 0 15px;
          }
        }
      }
    }
  }
  .company-footer {
    height: 45px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    border: solid 1px;
  }
}