.company-wapper {
  height: 100vh;
  position: relative;
  .company-header {
    height: 45px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__name {
      line-height: 45px;
      font-size: 30px;
    }
    .home {
      font-size: 25px;
      position: absolute;
      left: 40px;
    }
  }
  .company-main {
    height: calc(100vh - 90);
    padding: 50px 30px 15px 30px;
    &__index {
      display: flex;
      justify-content: center;
      .company-content {
        width: 80vw ;
        
        th {
          padding: 5px;
        }
        td {
          padding: 5px;
        }
      }
    }
  }
  .company-footer {
    height: 45px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    border: solid 1px;
  }
}