.item-main {
  padding-bottom: $padding_bottom;
  &__name {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--content {
      font-size: $font_size1;
    }
  }
  &__index {
    display: flex;
    justify-content: center;
    .item-content {
      width: 60vw ;
      tr {
        border-bottom: 1px outset $color_blue2;
      }
      th {
        text-align: center;
        height: 20px;
        border-top: 2px outset $color_blue3;
        border-bottom: 2px outset $color_blue3;
        padding: 0 20px;
      }
      td {
        padding: 0 20px;
        text-align: center;
        height: 80px;
      }
      td.detail_css {
        border-bottom: hidden !important;
      }
    }
  }
}
