<div class="wapper">
  <header>
    <div class="name">name</div>
    <a href="#" class="fas fa-plus"></a>
  </header>
  <main>
    <form class="search" action="" method="get">
      <input class="search__input" type="text" name="name">
      <input type="submit" value="search">
    </form>
    <div class="index">
      <div class="document">
        <div class="company">社名</div>
        <div clas="item">コード・品名</div>
      </div>
    </div>
  </main>
  <footer></footer>
</div>