<div class="wapper">
  <header>
    <div class="name">
      <%= link_to "仕様書管理", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
    <a href="/searches/new" class="fas fa-plus"></a>
  </header>
  <main>
    <form class="search" action="" method="get">
      <input class="search__input" type="text" name="name">
      <input type="submit" value="search">
    </form>
    <div class="index">
      <div class="document">
        <div class="company">社名</div>
        <div clas="item">コード・品名</div>
      </div>
    </div>
  </main>
  <footer></footer>
</div>