a.fas.fa-plus {
  color: #004E98;
  font-size: 14px;
  &:hover {
    opacity: 0.7;
  }
}
a.fas.fa-sign-out-alt {
  color: #004E98;
  border-radius: 7px;
  padding: 5px 12px;
  font-size: 14px;
  &:hover {
    opacity: 0.7;
  }
}
a.fas.fa-home {
  color: #004E98;
  font-size: 14px;
  &:hover {
    opacity: 0.7;
  }
}
a.fas.fa-edit {
  color: #004E98;
  font-size: 14px;
  &:hover {
    opacity: 0.7;
  }
}
a.far.fa-trash-alt {
  color: #004E98;
  font-size: 20px;
  &:hover {
    opacity: 0.7;
  }
}
a.far.fa-file-alt{
  color: #004E98;
  font-size: 20px;
  &:hover {
    opacity: 0.7;
  }
}
a.fas.fa-angle-double-right {
  font-size: 20px;
  line-height: 80px;
  color: #004E98;
  border-radius: 7px;
  &:hover {
    opacity: 0.7;
  }
}
a {
  text-decoration: none;
}
td.detail_css {
  border-bottom: hidden !important;
}