.document_new_conten-name {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--content {
    font-size: $font_size1;
  }
}
.document_new_content {
  padding-bottom: $padding_bottom;
  &__document {
    display: flex;
    justify-content: center;
    &--wrapper {
      width: 300px;
    }
  }
  &__submit {
    height: 30px;
    text-align: center;
  }
  &__element {
    margin: 30px 0;
  }
  .document_new_form {
    width: 100%;
  }
}