.document-header {
  height: 80px;
  border-bottom: solid 1px $color_blue4;
  background-color: $color_blue5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 0 30px;
}
.document-main {
  padding-bottom: $padding_bottom;
  &__content-name {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &--content {
      font-size: $font_size1;
    }
  }
  &__index {
    display: flex;
    justify-content: center;
    .document-content {
      width: 55vw ;
      tr {
        border-bottom: 1px outset $color_blue2;
      }
      th {
        text-align: center;
        height: 20px;
        border-top: 2px outset $color_blue3;
        border-bottom: 2px outset $color_blue3;
        padding: 0 20px;
      }
      td {
        padding: 0 20px;
        text-align: center;
        min-height: 80px;
      }
      td.delete_button {
        border-bottom: hidden !important;
        border-radius: 4px;
      }
      &__note {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        &--area {
          max-width: 350px;
          word-wrap: break-word;
          white-space: pre-wrap;
          text-align: left;
          margin: 10px 0;
        }
        &--icon {
          width: 65px;
          margin-left: 15px;
          color: #004E98;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
.document_edit_content {
  border-radius: 4px;
  background-color: $color_blue5;
  margin: 20px 0;
  width: 350px;
}
#document_edit_content {
  margin: 15px;
}
#document_edit__form {
  width: 100%;
  height: 100px;
}